# macOS
.DS_Store

# Gradle & Build
.gradle/
build/
out/
bin/

# Kotlin & IntelliJ Platform
.kotlin/
.idea/
.intellijPlatform/
.vscode/

# Generated sources
src/main/gen/
gen/

# IDEs & Environment
*.env
*.log

# Test Reports
src/test/reports/
.env

/scratch

# Trigger verification 11 [test]
