# macOS
.DS_Store

# Gradle & Build
.gradle/
build/
out/
bin/

# Kotlin & IntelliJ Platform
.kotlin/
.idea/
.intellijPlatform/
.qodana/

# Generated sources
src/main/gen/
gen/

# IDEs & Environment
.vscode/
.env

# Trigger verification 2 [test]
